*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background: url(../images/road.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow-x: hidden;
}
.carImg{
    position: absolute;
    top: 65%;
    z-index: 999;
    width: 300px;
    transition: all 2s ease-out;
}

.carImg2{
    position: absolute;
    left: 0px;
    top: 75%;
    z-index: 999;
    width: 300px;
}
